POSTGRES_DB=mega_sena
POSTGRES_USER=mega_sena
POSTGRES_PORT=5102
APP_PORT=5101
MEGA_SENA_SESSION_COOKIE_NAME=mega_sena_session
MEGA_SENA_TRUSTED_HOSTS=megasena-mspa.duckdns.org
MEGA_SENA_TRUST_PROXY_HEADERS=true
